<ng-container *ngIf="results.total_count > 0">
    <h2>Found {{ results.total_count | number }} users 🎉</h2>

    <p *ngIf="results.total_count > 1000">
        (Only the first 1000 search results are available)
    </p>

    <p>Displaying {{ this.pageStart | number }} to {{ this.pageEnd | number }}</p>

    <mat-form-field>
        <mat-label>Sorted by...</mat-label>
        <mat-select [value]="sortOrder" (selectionChange)="onSortOrderChange($event)">
            <mat-option *ngFor="let sortKey of sortOrderKeys" [value]="SortOrder[sortKey]">
                {{ sortKey }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <tdl-pagination [results]="results" [query]="query" [sortOrder]="sortOrder"></tdl-pagination>
    <div class="results">
        <tdl-user-card class="m-2" *ngFor="let user of results.items" [user]="user"></tdl-user-card>
    </div>
    <tdl-pagination [results]="results" [query]="query" [sortOrder]="sortOrder"></tdl-pagination>
</ng-container>

<ng-container *ngIf="results.total_count === 0">
    <h2>No users found! 😧</h2>
    <a routerLink="/search">&lt; back to search</a>
</ng-container>
